<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel"	>
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="images/WhiteSandsPiggyBack-sm.jpg" alt="First slide">
			<div></div>
			<div class="container">
				<div class="carousel-caption">
					<h1>Harris Family Launch Pad</h1>
					<p>Check out the various sites for all things Harris Family related.</p>
					<p><a class="btn btn-lg btn-primary" href="https://www.facebook.com/housty.harris/photos" target="_blank" role="button">Facebook Albums</a></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="images/YellowstoneGParents-sm.jpg" alt="Second slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>Family Videos</h1>
					<p>Harris Family YouTube Channel.</p>
					<p><a class="btn btn-lg btn-primary" href="https://www.youtube.com/user/houstyharris/videos?shelf_id=1&sort=dd&view=0" target="_blank" role="button">YouTube Channel</a></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="images/ArboretumKids-sm.jpg" alt="Third slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>Photo Albums</h1>
					<p>Harris Family Google+ Photo Albums</p>
					<p><a class="btn btn-lg btn-primary" href="https://plus.google.com/photos/+HoustonHarris1/albums" target="_blank" role="button">Google+ Photo Albums</a></p>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="" ng-click="prevSlide()"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="" ng-click="nextSlide()"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- /.carousel -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

	<!-- jumbotron
	<div class="jumbotron">
		<h1>Jumbotron heading</h1>
		<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
	</div>
	-->

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<img class="img-circle" src="images/snowCreek-140.jpg" alt="creek">
			<h2>Facebook Albums</h2>
			<p>Photos of vacations and random events.</p>
			<p><a class="btn btn-default" href="https://www.facebook.com/housty.harris/photos" target="_blank" role="button">Vacations &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle" src="images/AngelaDadGoPro-140.jpg" alt="cam">
			<h2>Family YouTube Channel</h2>
			<p>Family YouTube videos.</p>
			<p><a class="btn btn-default" href="https://www.youtube.com/user/houstyharris" target="_blank" role="button">Fun Videos &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle" src="images/chibi-puppy-140.jpg" alt="chibi">
			<h2>Angela's Craft Videos</h2>
			<p>Angela's videos of artwork and craft projects.</p>
			<p><a class="btn btn-default" href="https://www.youtube.com/channel/UCL7F8JE0grX_3v__KWqcbmg/videos" target="_blank" role="button">Crafts &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->

	<div class="row">
		<div class="col-lg-4">
			<img class="img-circle" src="images/elcapy_sm-140.jpg" alt="painting">
			<h2>Ben Sartorius Art</h2>
			<p>Check out Ben's awesome plein air artwork.</p>
			<p><a class="btn btn-default" href="http://bensartorius.com/" target="_blank" role="button">Art &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle" src="images/claireBucket-140.jpg" alt="claire">
			<h2>Debi's Facebook Albums</h2>
			<p>More day to day pics of the family</p>
			<p><a class="btn btn-default" href="https://www.facebook.com/debi.s.harris/photos_albums" target="_blank" role="button">Daily Life &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<img class="img-circle" src="images/angela-140.jpg" alt="angela">
			<h2>Angelas Google+ Photos</h2>
			<p>Art and other random pictures</p>
			<p><a class="btn btn-default" href="https://plus.google.com/117103037889161268381/photos" target="_blank" role="button">Pics &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->

</div><!-- /.container -->