<div class="navbar-wrapper" ng-controller="NavbarCtrl">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/home">housty.io</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li ng-repeat="item in menu" ng-class="{active: isActive(item.path)}">
                          <a ng-href="{{item.link}}" ng-click="collapseMenu()">{{item.title}}</a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>