<div class="container marketing">
  <div class="jumbotron">
    <h2>Happiest States</h2>
    <p class="lead">Based on 10 minutes of 1% Twitter stream from {{selectedDate | date:'medium'}}</p>
    
    <!--
    <div class="btn-group">
      <button ng-repeat="happiestState in happiestStates"
              ng-class="{active:isActive(happiestState._id)}"
              ng-click="updateMap(happiestState)"
              type="button" class="btn btn-default">
        {{happiestState.parseDate | date:'medium'}}
      </button>
    </div>
    -->
    
    <!-- jquery slider, need to make a directive -->
    <div class="row">
      <div class="col-sm-4">
        <div id="dateslider"></div>
      </div>
    </div>
      
    <div class="map" id="usMap"></div>
    <small>
      Positive scores are positive vibes. Negative scopes are... well, sad vibes.<br>
      Based on <a href="http://www2.imm.dtu.dk/pubdb/views/publication_details.php?id=6010" target="_blank">AFINN-111</a>
    </small>
  </div>
</div>